section.order-form-wrapper(aria-labelledby="order-form-heading")
  h2#order-form-heading(role='heading') Order hypnotoad
  form.order-form(action="#" method="method")
    input.form-order-elem#first-name(type="text" autofocus="true" required="true" 
      placeholder="Enter your first name")
    input.form-order-elem#second-name(type="text" required="true" placeholder="Enter your second name")
    input.form-order-elem(type="email" required="true" placeholder="Enter your email")
    button.form-order-elem.button(type="submit") Order
