.footer-wrapper {
  position: relative;
  width: 100%;
  background-color: @text-main-color;
  color: darken(@text-inverse-color, 30%);

  &:extend(.catchword-height);
}

.footer {
}

.footer-sign {
  width: 100%;
  padding: 0 1em;

  @media(min-width: 667px) {
    .size-percent(@advantages-width, @maquette-width);
    width: @size-percent;
    margin: 0 auto;
    margin-left: 200 / 1500 * 100%;
  }
  position: absolute;
  &:extend(.vert-center);
  &:extend(.margins-fix);
  font: normal 1.3em / normal "Open Sans", sans;
  background-color: @text-main-color;
}


.site-name {
  .fontSize(50, 13);
  font: normal @fontSize / normal "Honey Script", sans;
  color: darken(@text-inverse-color, 50%);
}
