article.advantages
  section.advantage-wrapper.icon-s1(aria-labelledby="advantage1-header")
    h2#advantage1-header.advantage-header Available worldwide
    p.advantage
      | You can receive your order anywhere in the world
  section.advantage-wrapper.icon-s2(aria-labelledby="advantage2-header")
    h2#advantage2-header.advantage-header Many interesting meetings
    p.advantage
      | You will meet many different people and will maintain many contacts. 
      | Someone may even be interested in you
  section.advantage-wrapper.icon-s3(aria-labelledby="advantage3-header")
    h2#advantage3-header.advantage-header Secure receipt of an order
    p.advantage
      | You can receive the order in the mail, come for him personally or it 
      | can be bring by a courier
