nav.navbar-small-screen
  .navbar-height-simulate
  ul.navs
    li.nav-item 
      a.nav-link(href="#") Advantages
    li.nav-item
      a.nav-link(href="#") About
    li.nav-item
      a.nav-link(href="#") Testimonials
    li.nav-item
      a.nav-link(href="#") Contacts
.nav-wrapper
  nav#navbar.navbar.site-header__navbar(itemscope itemtype="http://schema.org/SiteNavigationElement")
    a#svg-logo.svg-logo.navbar__svg-logo
      | hypnotoad
    button.hamburger-wrapper.navbar__hamburger-wrapper(aria-controls="navbar" title="toggle navigation")
      .hamburger-container
        .dash.top
        .dash.middle
        .dash.middle
        .dash.bottom
    ul.navs.navbar__navs
      li.nav-item 
        a.nav-link(href="#") Advantages
      li.nav-item
        a.nav-link(href="#") About
      li.nav-item
        a.nav-link(href="#") Testimonials
      li.nav-item
        a.nav-link(href="#") Contacts
