nav.navbar-small-screen
  .navbar-height-simulate
  ul.navs
    li.nav-item 
      a.nav-link(href="#advantages" rel="m_PageScroll2id") Advantages
    li.nav-item
      a.nav-link(href="#about" rel="m_PageScroll2id") About
    li.nav-item
      a.nav-link(href="#impact-areas" rel="m_PageScroll2id") Impact areas
    li.nav-item
      a.nav-link(href="#testimonials" rel="m_PageScroll2id") Testimonials
    li.nav-item
      a.nav-link(href="#contacts" rel="m_PageScroll2id") Contacts
    li.nav-item 
      a.nav-link(href="#fears-go-away" rel="m_PageScroll2id") Fears go away
    li.nav-item 
      a.nav-link(href="#order" rel="m_PageScroll2id") Order
.nav-wrapper
  nav#navbar.navbar.site-header__navbar(itemscope itemtype="http://schema.org/SiteNavigationElement")
    a(href='#hero' rel="m_PageScroll2id")#svg-logo.svg-logo.navbar__svg-logo
      | hypnotoad
    button.hamburger-wrapper.navbar__hamburger-wrapper(aria-controls="navbar" title="toggle navigation")
      .hamburger-container
        .dash.top
        .dash.middle
        .dash.middle
        .dash.bottom
    ul.navs.navbar__navs
      li.nav-item 
        a.nav-link(href="#advantages" rel="m_PageScroll2id") Advantages
      li.nav-item
        a.nav-link(href="#about" rel="m_PageScroll2id") About
      li.nav-item
        a.nav-link(href="#impact-areas" rel="m_PageScroll2id") Impact areas
      li.nav-item
        a.nav-link(href="#testimonials" rel="m_PageScroll2id") Testimonials
      li.nav-item
        a.nav-link(href="#contacts" rel="m_PageScroll2id") Contacts
      li.nav-item 
        a.nav-link(href="#fears-go-away" rel="m_PageScroll2id") Fears go away
      li.nav-item 
        a.nav-link(href="#order" rel="m_PageScroll2id") Order
