section.have-solution(aria-labelledby="have-solution-header")
  .have-solution-wrapper
    h2#have-solution-header.have-solution__have-solution-header(role="heading") We have solution!
    p.almost-solution.have-solution__almost-solution All you need is...
