.fearsGo {
  margin-bottom: 6em;
  color: @text-main-color;

  @media(min-width: 1280px) {
    margin-bottom: 8em;
  }

  @media(min-width: 1366px) {
    margin-bottom: 14em;
  }
}

#fearsGo-heading {
  &:extend(.margins-fix);
  padding-top: 2em;
  font: normal 7em / normal 'Honey Script', sans;
  text-align: center;
}

.wipe-advice {
  font: normal 1.8em / normal "Open Sans", sans;
  text-align: center;
}

.fears-wrapper {
  position: relative;
  width: 100%;
  margin-top: 4em;

  // @media(min-width: 667px) {
  //   width: 40%;
  // }
  //
  // @media(min-width: 1024px) {
  //   width: 35%;
  // }
  //
  // @media(min-width: 1366px) {
  //   width: 20%;
  // }
}

.bedroom {
  position: absolute;

}
