section.solution(aria-labelledby="solution-header")
  section.hypnotoad-wrapper.solution__hypnotoad-wrapper
    h2#solution-header.hypnotoad-wrapper__solution-header(role="heading")
      | The hypnotoad
    figure.hypnotoad
      img#hypnotoad-pic(src="/imgs/hypnotoad.gif", alt="The sitting hypnotoad")
