article.ways-to-fight-depression.owl-carousel.owl-theme
  section.slide
    include ../WhatProblem/WhatProblem.pug
  section.slide
    include ../HaveSolution/HaveSolution.pug
  section.slide
    include ../Solution/Solution.pug
  section.call-to-action.slide
