.ways-to-fight-depression {
  width: 100%;
}

.slide{
  width: 100vw;
  height: 100vh;
}

.what-problem{
  background-color: rgb(119, 242, 183);
}
section.have-solution {
  background-color: rgb(210, 95, 29);
}
section.solution{
  background-color: rgb(119, 179, 242);
}
section.call-to-action{
  background-color: rgb(242, 119, 234);
}
