section.testimonials-wrapper#testimonials(aria-labelledby="testimonials-header")
  h2#testimonials-header(role="heading")
    span.testimonials-header-1
      | Testimonials
    | 
    | &nbsp;/&nbsp; what our happy clients say about us
  section.testimonials.testimonials-wrapper__testimonials
    .testimonial
      figure.reviewer.testimonial__reviewer
        picture
          source(srcset="../imgs/MoeCrocker.webp" type="image/webp" alt="reviewer photo")
          img.reviewer-photo(src="../imgs/MoeCrocker.jpg" alt="reviewer photo")
        figcaption.reviewer-name
          | Moe Crocker
      .reviewer-testimonial
        | It&#96;s awesome stuff. With it my life indeed become better. 
        | Furthermore, my dead girlfriend really love me again!
    .testimonial
      figure.reviewer.testimonial__reviewer
        picture
          source(srcset="../imgs/ShmichailiaShmerou.webp" type="image/webp" alt="reviewer photo")
          img.reviewer-photo(src="../imgs/ShmichailiaShmerou.jpg", alt="reviewer photo")
        figcaption.reviewer-name
          | Shmichailia Shmerou
      .reviewer-testimonial
        | These guys are great. Thanks to them, I overcame my crisis and I&#96;m  
        | ready for new achievements
    .testimonial
      figure.reviewer.testimonial__reviewer
        picture
          source(srcset="../imgs/WillShmates.webp" type="image/webp" alt="reviewer photo")        
          img.reviewer-photo(src="../imgs/WillShmates.jpg", alt="reviewer photo")
        figcaption.reviewer-name
          | Will Shmates
      .reviewer-testimonial
        | At first I took a cautious attitude to the idea itself, but, having 
        | tried it, I was convinced of the correctness of my choice. Hypnotoad 
        | really helps to cope with all the difficulties and make life simple 
        | and joyful
