section.ready-to-order(aria-labelledby="have-solution-header")
  .ready-to-order-wrapper
    h1#ready-to-order-header.ready-to-order__ready-to-order-header(role="heading")
      | Order hypnotoad
    button.go-order.have-solution__go-order Go order
