section.what-problem(aria-labelledby="what-problem-heading")
  div.image-preload
    img(src="/imgs/drop-color.png" alt="") 
    img(src="/imgs/drop-alpha.png" alt="")
    img(src="/imgs/whatProblemBackLedderResized.jpg")
    img(src="/imgs/whatProblemBackLedderResized.jpg")
  canvas#container(width="1" height="1" style="position:absolute")
  p.nosupport
    | Sorry, but your browser does not support WebGL!
  h2#what-problem-heading.problem.what-problem__problem(role='heading') Are you sad and lonely?
  p.problem.what-problem__problem Somebody makes indents by tabs, not spaces?
  p.problem.what-problem__problem Everything around is dull and gray?
