section.what-problem(aria-labelledby="what-problem-heading")
  h2#what-problem-heading.problem.what-problem__problem(role='heading') Are you sad and lonely?
  p.problem.what-problem__problem Somebody makes indents by tabs, not spaces?
  p.problem.what-problem__problem Everything around is dull and gray?
