section.impact-areas-wrapper#impact-areas
  section.impact-areas(aria-labelledby="impact-areas-heading")
    h2#impact-areas-heading(role='heading') Impact areas
    section.phrenology-segments-wrapper
      svg#phrenology-segments(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 274 289")
        defs
          filter#segment-blur
            feGaussianBlur(in="SourceGraphic" stdDeviation="3.5" width="130%" height="130%")
        image(alt="human brain in cross section divided in segments" style="overflow:visible;" width="263" height="278" xlink:href="/imgs/phrenology.png"  transform="matrix(1 0 0 1 11 11)")
        path#segment-1.segment(d="M240.25,93.5l-1.75-8-2-1.75L233,73.25l-6.5-11L220,54l-4.25-5.25L210.5,43l-3-1.75v-6l-2.5-8.5L202.75,21,199,16.75l-2-2h-9.5l-5-2-3,1.5-3.75,2.25-4.5,3.25-4.5.5L161.25,19l-4.5-1.25-11-.75-11.25-.75H120l-3.75,2-4.5.25-4.5.5s-6.5-6-8-6.25S84.25,11.5,82.5,14c-2.79,2.13-7.25,3.25-8.25,6.75s-2.42,7.08-1.35,11.6C74,36,79.71,34.21,82.25,35.21s3.25,3.54,8.5,2.79,7,10.5,7,10.5S103.5,59.75,102.5,61s-1,8,1,7.25,6,6,6,7,5,16.25,5,16.25l4.5,11.25,0.75,4.75s11.5,6.25,14,11,8.75,5.25,8.75,5.25,4.75,1,9.25-4.75,5.25-2.75,5.25-2.75l7.25-5.25s7-2,9-4,14.25-4.5,14.25-3.5,5,0.25,5,.25,0.75-5.5,2.5-4.75,7.25-.75,7.25-0.75,5.5,0,6.75-4.25,8.75,0.75,10.25-1,14-.25,14-0.25Z")
        path#segment-2.segment(d="M123.25,107.5s-8.5-14.37-6.75-14.37-5.87-9.87-4.25-11S103,67,103.25,65.38s-4.37-7.75-2.75-10.87-8.62-16.62-8.87-15.37-4.11-9.33-19.12-4.5C59.13,38.93,51,53.34,48.25,52.38c-2-.7-3.87-0.62-5.62,2s0,4,0,4l-3.87,5.5s-15-1.1-17.62,2.88-10.12,8.48-8.25,14C12.58,86,11,91,18.25,100.25s4.13,6,4.13,6,7.38,7.38,8.75,7.5,11.13,13.38,12,13.38,3,5.13,9.13,8.13A64.39,64.39,0,0,1,63.5,142.5S63,133,75.38,119.88s12.25-9.5,17.25-10.37,6.63,1.75,13.88-3.37S123.25,107.5,123.25,107.5Z")
        path#segment-3.segment(d="M63.13,143s-12.87-8.75-24.37-18.37S20.5,108.88,20.5,108.88s-2.75,29.63,0,47.25,20.7,45.63,20.7,45.63l8.92,16.38s29.13-18.62,28.63-20.25S78.25,187,68.38,179.25s-4.87-21.62-4.12-25S63.13,143,63.13,143Z")
        path#segment-4.segment(d="M90.38,200.38s-10.87.5-10.75-1.75S78.75,192.13,78,192s-4.12-7.75-6.62-10-8-5.62-7-9.5,0-29.87-.87-29.12,7.75-20.87,20-31,3.38,1.5,19.13-3.87,15.38-6,16-8.5,0.88,8.38,10,12.63a28.13,28.13,0,0,1,12.88,12.63s4.63,14.88,3.25,16.38,3.75,8,4.5,7.5-0.87,18.75-.87,18.75-4.75,8.25-12,13S125.75,178,125.75,178s-3.25-5.12,3-9.75c4.25-4.62.75-8.62,2.63-10.5s1.13-13.87-2.62-16-6.87-10.75-21-11.62S87.38,150,87.38,150l-1.5,17.47a48.91,48.91,0,0,0,2.25,11.25c1.75,4.63,2.5,7.75,2,9.5S90.38,200.38,90.38,200.38Z")
        path#segment-5.segment(d="M143.25,125.75s1,13.38,5.38,18.5,2.75,4.88,5.25,7.75,8.13-2,10.63,0,0.5,7.75,3.88,7.5-0.12,2.88,10.63,2.25,3.38-7.37,7.5-5.87,3.75-5,10.25-5.12a8.24,8.24,0,0,0,7.88-6.25,11.71,11.71,0,0,1,8.38-7.75c6.63-1.5,5.88-8.37,5.88-8.37s7.5-3.87,9.63-7.5,2.25,3.13,3,3.25,6.25,3.13,7.5,3,2.38,1.63,4.75,1.25,2.75-7.26,2.5-8.57,0.75-5.68-1.37-7.18-3.25-7.87-3.25-7.87-3.37-2.75-.37-5.62c-0.42-3-4.21-5.68-5.37-6.12s-18.5-1-20.37,0-4.62,0-6.25,1.63-4.62,3.5-5.75,3.13-9.25.5-9.5,2.13-3,3.13-3,3.13-2.75.13-3.25-1-8,2.63-10.75,2.38-7.87,4.5-7.87,4.5-3.87,1.38-5,0S158,114,158,114s-4,2.13-5.12,1.88-2.37,5.13-4,5.13S143.25,125.75,143.25,125.75Z")
    #impact-clarifications
      p.impact-clarification(data-segment-number="1")
        span.impact-clarification-heading
          | Frontal lobes / 
        | Hypnotoad produce its perception-altering effects by acting on neural 
        | circuits in the brain that use the neurotransmitter serotonin
      p.impact-clarification(data-segment-number="2")
        span.impact-clarification-heading
          | Love area / 
        | Your dead girlfriend will love you again
      p.impact-clarification(data-segment-number="3")
        span.impact-clarification-heading
          | Desires segment / 
        | Hypnotoad will help you to abandon bad habits, such as stinging stress, 
        | smoking, alcoholism, drug addiction, kliptomania, necrophilia etc.
      p.impact-clarification(data-segment-number="4")
        span.impact-clarification-heading
          | Nature of the brain / 
        | Hypnotoad produces its effects through action at serotonin (5-HT) 
        | receptors in the brain. Some research has suggested that Hypnotoad 
        | occurs naturally in the human brain in small quantities, leading to the 
        | hypothesis that release of endogenous Hypnotoad may be involved in 
        | reports of alien abductions, spontaneous mystical experiences, 
        | and near-death experiences 
      p.impact-clarification(data-segment-number="5")
        span.impact-clarification-heading
          | Senses area / 
        | Hypnotoad can cause users to see images, hear sounds, and feel 
        | sensations that seem real but do not exist. Their effects typically 
        | begin within 20 to 90 minutes of ingestion and can last as long as 12 
        | hours
