section.about-wrapper#about
  section.about(aria-labelledby="about-heading")
    h2#about-heading(role='heading') Hypnotoad
    p.about-text
      | Hypnotoad &mdash; the newest revolutionary tool. It will cahnge
      | all of your life
    section.about-text.about-details.about__about-details
      section.detail-1.detail(aria-labelledby='detail-1-heading')
        h3.detail-heading#detail-1-heading Change the psychoemotional state
        p.detail-clarification
          | You will be left anxious and stressed. You will no longer be 
          | obsessed with obsessions and fears
      section.detail-2.detail(aria-labelledby='detail-2-heading')
        h3.detail-heading#detail-2-heading Sleep, appetite and weight normalization
        p.detail-clarification
          | Thanks to the lack of anxiety, you can safely sleep. Stop eating 
          | stress with food or experiencing digestive problems
      section.detail-3.detail(aria-labelledby='detail-3-heading')
        h3.detail-heading#detail-3-heading Natural nature
        p.detail-clarification
          | Hypnotoad is a completely natural remedy that does not contain 
          | gmo, saturated fats, radiation. Hypnotoad does not cause allergies
      section.detail-4.detail(aria-labelledby='detail-4-heading')
        h3.detail-heading#detail-4-heading Guaranteed love
        p.detail-clarification
          | Your dead girlfriend will love you again
      
