main(role="main")
  include ../Hero/Hero.pug
  include ../Advantages/Advantages.pug
  include ../About/About.pug
  include ../ImpactAreas/ImpactAreas.pug
  include ../Testimonials/Testimonials.pug
  include ../Contacts/Contacts.pug
  include ../FearsGo/FearsGo.pug
  include ../OrderForm/OrderForm.pug
