section.contacts-wrapper(aria-labelledby="contacts-header")
  h2#contacts-header.contacts-wrapper__contacts-header(role="heading")
    | ready to talk business?
  p.contacts.mail
    | contact@hypnotoad.com
  p.contacts.phone
    | +322 223 332 322
