* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.relative-vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

.vert-center {
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}
