.site-header {
  position: absolute;
  width: 100%;
  background-color: @text-main-color;
  z-index: 2;

  @media(min-width: 640px) {
    background-color: transparent;
  }
}

.header_fixed {
  position: fixed;
  background-color: @text-main-color;
  transform: translate3d(0, -100%, 0);
    transition: transform .7s;
}

.show-header {
  transition: transform .7s;
  transform: translate3d(0, 0, 0);
}

@keyframes showHeader {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
  }
}
