body.body
  include ../Header/Header.pug
  include ../Main/Main.pug
  include ../footer/footer.pug
  include ../BasedOn/BasedOn.pug
  script(src="/script/libs/libs.js")
  script(src="/script/main-83607605.js")
